.main-content
  #recipe_top
    .row
      .col-md-4
        = link_to image_tag( 'fatma.jpg', class: "img-circle"), 'http://www.fatmazaman.com'
      .col-md-8
        #recipe_info
          %h1
            Fatma Zaman
          %p.description
            Founder & Moderator
          %p
            Why ISupportWomen & how we will do it ?
    