<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
          <div class="row">
          <div class="col-md-12 well">
            <%= image_tag "isupportwomen.jpg", class: "img-responsive" %>
            </div>
          </div>
            
          </div>

          <div class="inner cover">
            <h1 class="cover-heading">Empowering Women</h1>
            <p class="lead">An Initiative to make Women Independent by providing learning resources from all around the Internet.</p>
            <p class="lead">
            <%= link_to "Learn more", empowers_path, class: "btn btn-success btn-lg" %>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>All rights reserved <a href="">iSupportWomen.</p>
            </div>
          </div>

        </div>

      </div>

    </div>